/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
  background-size: cover;
  background-attachment: fixed;
}

/* welcome page background */
.welcome-background {
  background-image: url('https://cdn.pixabay.com/photo/2014/04/03/00/29/sound-308418_1280.png'); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center; /* Ensures the image is centered */
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  height: 100vh; /* Sets the height to the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style for the header text */
h1 {
  font-size: 2.5em;
  color: #000000;
  text-shadow: 2px 2px 4px #000;
}

/* Dropdown menu styling */
select {
  padding: 10px;
  border: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Page content styling */
.page {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling active page for visibility */
.page.active {
  display: block;
  animation: fadeIn 0.5s;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Chart Container Styling */
.chart-container {
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive canvas elements for charts */
canvas {
  width: 100% !important;
  max-width: 600px;
  height: auto !important;
}

